@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-secondary: #f4f4f4;
  --color-border: #ebebeb;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: #fff;
  color: #676767;
  font-family: var(--font-sfpro);
}

/* font-[family-name:var(--font-geist-sans)] */
